-- Remove existing constraint
ALTER TABLE attendance DROP CONSTRAINT IF EXISTS check_valid_times;

-- Add a more flexible constraint
ALTER TABLE attendance ADD CONSTRAINT check_valid_times CHECK (
    check_in_time IS NOT NULL AND 
    (check_out_time IS NULL OR check_out_time >= check_in_time)
);

-- Optional: Update existing records to comply with the constraint
UPDATE attendance 
SET check_out_time = NULL 
WHERE check_out_time IS NOT NULL AND check_out_time < check_in_time;
